<ion-content class="onboarding" fullscreen="true" scrollY="false">
    <ion-slides [options]="slideOpts" pager="true">
    
      <ion-slide class="ion-text-start" mode="md">
        <div class="slide-inner-wrapper ion-padding-vertical">
          <!-- Header -->
          <ion-grid class="slide-header">
            <ion-row>
              <ion-col size="12" class="ion-text-end">
                <ion-button size="small" color="dark" fill="clear">Skip</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- Body -->
          <div class="slide-body">
            <img src="../assets/onboarding/step-1.svg" alt="">
            <div class="text-wrapper">
              <h1>Start to invest
                for your future!</h1>
              <ion-text>Ex totam praesentium incidunt aut.</ion-text>
            </div>
          </div>
          <!-- Footer -->
          <div class="slide-footer ion-text-end">
            <ion-button class="ion-text-uppercase ion-color-primary-gradient" color="primary" mode="md" size="large" shape="round" strong="true">Next</ion-button>
          </div>
        </div>
      </ion-slide>
    
      <ion-slide class="ion-text-start" mode="md">
        <div class="slide-inner-wrapper ion-padding-vertical">
          <!-- Header -->
          <ion-grid class="slide-header">
            <ion-row>
              <ion-col size="6">
                <ion-button size="small" color="dark" fill="clear">
                  <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6" class="ion-text-end">
                <ion-button size="small" color="dark" fill="clear">Skip</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- Body -->
          <div class="slide-body">
            <div class="text-wrapper">
              <h1>Follow our tips
              to achieve success!</h1>
              <ion-text>Ex totam praesentium incidunt aut.</ion-text>
            </div>
            <img src="../assets/onboarding/step-2.svg" alt="">
          </div>
          <!-- Footer -->
          <div class="slide-footer ion-text-end">
            <ion-button class="ion-text-uppercase ion-color-primary-gradient" color="primary" mode="md" size="large" shape="round" strong="true">Next</ion-button>
          </div>
        </div>
      </ion-slide>
    
      <ion-slide class="ion-text-start" mode="md">
        <div class="slide-inner-wrapper ion-padding-vertical">
          <!-- Header -->
          <ion-grid class="slide-header">
            <ion-row>
              <ion-col size="6">
                <ion-button size="small" color="dark" fill="clear">
                  <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6" class="ion-text-end">
                <ion-button size="small" color="dark" fill="clear">Skip</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- Body -->
          <div class="slide-body">
            <img src="../assets/onboarding/step-3.svg" alt="">
            <div class="text-wrapper">
              <h1>Keep your investment safe</h1>
              <ion-text>Ex totam praesentium incidunt aut.</ion-text>
            </div>
          </div>
          <!-- Footer -->
          <div class="slide-footer ion-text-end">
            <ion-button class="ion-text-uppercase ion-color-primary-gradient" color="primary" mode="md" size="large" shape="round" strong="true">Start</ion-button>
          </div>
        </div>
      </ion-slide>

    </ion-slides>
</ion-content>
